{% extends "templates/layouts/default.html" %}

{% block content %}

	<section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">About UIRIMAL</h2>
                    <hr class="light">
                    <p class="text-faded">Some information about the conference and how it came into being will be here.  Click the 
                    link below to be taken to the UIR website, where you can learn more about the University, as well as Rabat, and 
                    Morocco as a whole.</p>
                    <a href="http://www.uir.ac.ma/en" target="_blank" class="btn btn-default btn-xl">Learn About UIR & Morocco!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="committees">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Councils at UIRIMAL</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-connectdevelop wow bounceIn text-primary" href="#jdc" data-toggle="modal"></i>
                        <h3>Joint Defense Council</h3>
						<p class="text-muted">Chair: TBA</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-connectdevelop wow bounceIn text-primary" href="#pa" data-toggle="modal" data-wow-delay=".1s"></i>
                        <h3>Palestinian Affairs</h3>
                        <p class="text-muted">Chair: TBA</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-connectdevelop wow bounceIn text-primary" href="#social" data-toggle="modal" data-wow-delay=".2s"></i>
                        <h3>Social Affairs</h3>
                        <p class="text-muted">Chair: TBA</p>
                    </div>
                </div>
			</div>
			<div class="row">
                <div class="col-lg-6 col-md-4 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-connectdevelop wow bounceIn text-primary" href="#environment" data-toggle="modal" data-wow-delay=".3s"></i>
                        <h3>Environmental Affairs</h3>
                        <p class="text-muted">Chair: TBA</p>
                    </div>
                </div>
				<div class="col-lg-6 col-md-4 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-connectdevelop wow bounceIn text-primary" href="#special" data-toggle="modal" data-wow-delay=".4s"></i>
                        <h3>Special Committee on Refugees</h3>
                        <p class="text-muted">Chair: TBA</p>
                    </div>
                </div>
            </div>
        </div>
		<div id="jdc" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" style="text-decoration: bold;">Topics for Joint Defense Council</h4>
                </div>
                <div class="modal-body">
                    
                        <p>1. Developing strategies to settle water sharing disputes among members of the League of Arab States and between Arab States and non-Arab neighbors (focus on legal framework and strategies)</p>
						<p>2. Reviewing and revising collective security commitments under the Charter of the League of Arab States and the Joint Defence and Economic Cooperation Treaty among members of the League of Arab States</p>
						<p>3. Developing military strategies to protect economic infrastructure in the Arab World during times of conflict</p>
				
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
	<div id="pa" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" style="text-decoration: bold;">Topics for Joint Defense Council</h4>
                </div>
                <div class="modal-body">
                    
                        <p>1. Review of League of Arab State’s strategy in view of the rejection of a two state solution by the Israeli regime</p>
						<p>2. Encouraging and enforcing political cooperation between the Palestinian Authority and HAMAS</p>
						<p>3. Protection of Palestinian refugees in areas of conflict outside Palestine</p>
				
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
	<div id="environment" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" style="text-decoration: bold;">Topics for Joint Defense Council</h4>
                </div>
                <div class="modal-body">
                    
                        <p>1. Preparing members states for the challenges of climate change</p>
						<p>2. Improving the environment to promote better health in member states</p>
						<p>3. Conserving water resources and promoting more efficient use of water in agriculture</p>
				
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
	<div id="social" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" style="text-decoration: bold;">Topics for Joint Defense Council</h4>
                </div>
                <div class="modal-body">
                    
                        <p>1. Promotion and protection of Arab culture in a globalizing world</p>
						<p>2. Social implications and consequences of high unemployment among Arab youth and measures to mitigate them</p>
						<p>3. Promoting the role of social institutions as instruments of environmental responsibility</p>
						<p>4. Improving Social entrepreneurship in the Arab World</p>
				
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
	<div id="special" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" style="text-decoration: bold;">Topics for Joint Defense Council</h4>
                </div>
                <div class="modal-body">
                    
                        <p>1. Developing strategy and establishing infrastructure for continued education of refugee children from Syria, Iraq and Yemen</p>
						<p>2. Protection of refugee women and children from all forms of exploitation</p>
						<p>3. Developing policies and training refugees to enable the establishment of economic activity integrated into the economy of the host country</p>
				
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    </section>

    <section class="no-padding" id="staff">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#bioAlly" class="portfolio-box" data-toggle="modal">
                        <img src="/img/portfolio/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Allison Renyi
                                </div>
                                <div class="project-name">
                                    Director General
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
				
				<div id="bioAlly" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Allison Renyi</h4>
                </div>
                <div class="modal-body">
                    <p>Allison is...</p>
				
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
				
                <div class="col-lg-4 col-sm-6">
                    <a href="#bioRaya" class="portfolio-box" data-toggle="modal">
                        <img src="/img/portfolio/2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Raya Siddiqi
                                </div>
                                <div class="project-name">
                                    Secretary General
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
				<div id="bioRaya" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Raya Siddiqi</h4>
                </div>
                <div class="modal-body">
                    <p>Raya is...</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#bioLiz" class="portfolio-box" data-toggle="modal">
                        <img src="/img/portfolio/3.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Liz Neduva
                                </div>
                                <div class="project-name">
                                    Deputy Director General
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
	<div id="bioLiz" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Liz Neduva</h4>
                </div>
                <div class="modal-body">
                    <p>Liz is...</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#bioFatine" class="portfolio-box" data-toggle="modal">
                        <img src="/img/portfolio/4.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Fatine El Mechrafi
                                </div>
                                <div class="project-name">
                                    Deputy Director General
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
				<div id="bioFatine" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Fatine El Mechrafi</h4>
                </div>
                <div class="modal-body">
                    <p>Fatine is...</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#bioAmine" class="portfolio-box" data-toggle="modal">
                        <img src="/img/portfolio/5.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Amine Zeidane
                                </div>
                                <div class="project-name">
                                    Deputy Director General
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
				
				<div id="bioAmine" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Amine Zeidane</h4>
                </div>
                <div class="modal-body">
                    <p>Amine is...</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
			
				
                <div class="col-lg-4 col-sm-6">
                    <a href="#bioLina" class="portfolio-box" data-toggle="modal">
                        <img src="/img/portfolio/6.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Lina Bahi
                                </div>
                                <div class="project-name">
                                    Assistant Secretary General
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
				<div id="bioLina" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Lina Bahi</h4>
                </div>
                <div class="modal-body">
                    <p>Lina is...</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Apply to Staff at UIRIMAL!</h2>
                <a href="/staff" class="btn btn-default btn-xl wow tada">Staff Application</a>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Click the button below to send us a message!</p>
					<a href="/contact" class="btn btn-default btn-xl">Contact Us!</a> 
				</div>
            </div>
        </div>
    </section>

    <div id="registration" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3>Register</h3>
                </div>
                <div class="modal-body">
                    
                    

                </div>
                
            </div>
        </div>
    </div>
	
{% endblock %}
