{% extends "templates/layouts/contact.html" %}
                

{% block intro %}
    <div class="container">
        <h1>Register for UIRIMAL</h1>
    </div>
{% endblock %}

                {% block content %}
                <div class="container">
                        {% if registrationSubmitted %}
                            <h3>We look forward to seeing you at UIRIMAL!</h3>
                        {% else %}
                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <form method="post">
                                        <input type="hidden" name="action" value="register">
                                        {% set class = ( "has-error" if validationErrors.name else "" ) %}
                                        <div class="form-group {{ class }}">
                                            <label>
                                                <span>Faculty Advisor</span>
                                                <input type="text" name="name.full" value="{{ formData["name.full"] }}" class="form-control">
                                            </label>
                                        </div>
                                        {% set class = ( "has-error" if validationErrors.school else "" ) %}
                                        <div class="form-group {{ class }}">
                                            <label>
                                                <span>School</span>
                                                <input type="text" name="school" value="{{ formData.school }}" class="form-control">
                                            </label>
                                        </div>
                                        {% set class = ( "has-error" if validationErrors.email else "" ) %}
                                        <div class="form-group {{ class }}">
                                            <label>
                                                <span>Email</span>
                                                <input type="email" name="email" value="{{ formData.email }}" class="form-control">
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <label>
                                                <span>Phone</span>
                                                <input type="text" name="phone" value="{{ formData.phone }}" placeholder="(optional)" class="form-control">
                                            </label>
                                        </div>
                                        {% set class = ( "has-error" if validationErrors.numOfStudents else "" ) %}
                                        <div class="form-group {{ class }}">
                                            <label>
                                                <span>Number of Students</span>
                                                <input type="text" name="numOfStudents" value="{{ formData.numOfStudents }}" class="form-control">  
                                        </div>
                                        {% set class = ( "has-error" if validationErrors.message else "" ) %}
                                        <div class="form-group {{ class }}">
                                            <label>
                                                <span>Message</span>
                                                <textarea name="message" placeholder="Please tell us more about your team and what countries you would like to represent." rows="5" cols="50" class="form-control">{{ formData.message }}</textarea>
                                            </label>
                                        </div>
                                        <div class="form-actions">
                                            <button type="submit" class="btn btn-primary">Send</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    {% endblock %}